* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-image: url('/public/imagenes/fondo.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;

}


.form-register {
  width: 400px;
  background: #020f1bb0;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #a018d6;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.controlli {
  width: 50%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #a018d6;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}



.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}


.menu{
	
	list-style: none;
	padding: 0;
	background: #6c0beb46;
	width: 60%;
	margin: auto;
}

.menu li a{
	
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	
	display: inline-block;
	text-align: right;
}

.menu li a:hover{
	
	background: #be54efb4;
}
